[submodule "themes/perso"]
	path = themes/perso
	url = https://github.com/themefisher/parsa-hugo-personal-blog-theme.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
